<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <section id="fh5co-home" data-section="home" >
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height:900px;">
      <div class="text-innerr">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 style="color: white;margin-bottom:50px;">About us</h1>
          </div>
            <div class="row">
      				<div class="col-md-4">
      					<div class="text-center">
                  <span><img src="pb.jpg" class="img-circle" height="220px" width="220px"></img></span>
      						<h3 style="color: white; margin-top:15px;">Jettanan Homchanthanakul</h3>
      						<p style="margin-top:-20px;">Team Leader</p>
      					</div>
      				</div>

              <div class="col-md-4">
      					<div class="text-center">
      						<span><img src="chaiyo.jpg" class="img-circle" height="220px" width="220px"></img></span>
      						<h3 style="color: white;margin-top:15px;">Chawakorn Chaichanawirote</h3>
      						<p style="margin-top:-20px;">Server</p>

      					</div>
      				</div>
              <div class="col-md-4">
      					<div class="text-center">
      						<span><img src="ping.jpg" class="img-circle" height="220px" width="220px"></img></span>
      						<h3 style="color: white;margin-top:15px;">Nopporn Budsabavilai</h3>
      						<p style="margin-top:-20px;">Hardware</p>

      					</div>
      				</div>
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
      					<div class="text-center">
      						<span><img src="pim.jpg" class="img-circle" height="220px" width="220px"></img></span>
      						<h3 style="color: white;margin-top:15px;">Parpada Piamjinda</h3>
                  <p style="margin-top:-20px;">UI dev.</p>

      					</div>
      				</div>
              <div class="col-md-4">
      					<div class="text-center">
      						<span><img src="aob.jpg" class="img-circle" height="220px" width="220px"></img></span>
      						<h3 style="color: white;margin-top:15px;">Tachadol Suthisomboon</h3>
      						<p style="margin-top:-20px;">Data analysis</p>

      					</div>
      				</div>
            </div>


          </div>
        </div>
      </div>

    </div>



  </div>
  <div class="slant"></div>
</section>
  <footer>
    <% include footer.ejs %>
  </footer>
</body>
</html>
