<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <section id="fh5co-home" data-section="home" >
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height:900px;">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Welcome</h1>
            <h2>This web application is for check something that you want to know :)</a></h2>
            <% include alert.ejs %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>
  <footer>
    <% include footer.ejs %>
  </footer>
</body>
</html>
