
<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <section id="fh5co-home" data-section="home" >
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-innerr">
          <div class="col-md-12 section-heading text-center" >
  					<h2 style="color: white;">Leds</h2>
            <div class="jumbotron">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">TeamID</th>
                    <th class="text-center">sensID</th>
                    <th class="text-center" >val</th>
                    <th class="text-center">Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                      <td>
                        <%= data[i].teamID %>
                      </td>
                      <td>
                        <%= data[i].sensID %>
                      </td>
                      <td>
                        <%= data[i].val %>
                      </td>
                      <td>
                        <%= data[i].date %>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
  				</div>
      </div>

      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>


  <footer>
    <% include footer.ejs %>
  </footer>
</body>

</html>
